---
title: Design
---

<h1> {{title}} </h1>



<script>
  document.getElementById("test").style.display = "none";
</script>
{% include "nav2.njk" %}

<div class="backgroundImg2"></div>

<h3>War Patterns</h3>
<h4>2023</h4>
{% for i in range(1, 4) %}
  <div class="cssbox">
    <a id="pattern{{i}}" href="#pattern{{i}}"><img class="cssbox_thumb" src="/images/Patterns/pattern{{i}}.jpg"/>
      <span class="cssbox_full"><img src="/images/Patterns/pattern{{i}}.jpg"/></span>
    </a>
    <a class="cssbox_close" href="#void"></a>

    {% if i > 1 %}
      <a class="cssbox_prev" href="#pattern{{i-1}}">&lt;</a>
    {% endif %}

    {% if i < 5 %}
      <a class="cssbox_next" href="#pattern{{i+1}}">&gt;</a>
    {% endif %}
  </div>
{% endfor %}

<h3>Graphic</h3>
<h4>2019</h4>

{% for i in range(1, 4) %}
  <div class="cssbox">
    <a id="GR{{i}}" href="#GR{{i}}"><img class="cssbox_thumb" src="/images/GR/GR{{i}}.png"/>
      <span class="cssbox_full"><img src="/images/GR/GR{{i}}.png"/></span>
    </a>
    <a class="cssbox_close" href="#void"></a>

    {% if i > 1 %}
      <a class="cssbox_prev" href="#GR{{i-1}}">&lt;</a>
    {% endif %}

    {% if i < 5 %}
      <a class="cssbox_next" href="#GR{{i+1}}">&gt;</a>
    {% endif %}
  </div>
{% endfor %}


<h3>Brand Identity</h3>
<h4>2019</h4>
{% for i in range(1, 3) %}
  <div class="cssbox">
    <a id="BR{{i}}" href="#BR{{i}}"><img class="cssbox_thumb" src="/images/BR/BR{{i}}.png"/>
      <span class="cssbox_full"><img src="/images/BR/BR{{i}}.png"/></span>
    </a>
    <a class="cssbox_close" href="#void"></a>

    {% if i > 1 %}
      <a class="cssbox_prev" href="#BR{{i-1}}">&lt;</a>
    {% endif %}

    {% if i < 5 %}
      <a class="cssbox_next" href="#BR{{i+1}}">&gt;</a>
    {% endif %}
  </div>
{% endfor %}

